@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}
:root{
    --text-color: #0D1321;
    --main-color: rgba(13, 19, 33, 0.7);
}
body{
    overflow-x:hidden ;
}
h2{
    font-size: 48px;
    font-weight: 800;
}
p {
	font-size: 18px;
	font-size: 500;
	color: var(--main-color);
	line-height: 30px;
}

/* var css */
.text-center{
    text-align: center;
}
.text-start{
    text-align: start;
}
.column{
    flex-direction: column;
}.gap-80{
    gap: 80px !important;
}
.font-size-md{
    font-size: 32px;
}
.py{
    padding-top: 100px;
}
.pb{
    padding:100px 0px ;
}
.rtl{
    flex-direction: row-reverse;
}
/* var css */
/* layout styles */
section,header,footer{
    display: flex;
    justify-content: center;
}
header .container{
    justify-content: space-between !important;
}
.container{
    display: inline-flex;
    width: 1440px;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    gap: 40px;
}
/* layout styles */
.logo a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 28px;
}

.btn{
    background: transparent;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.5s ease;
    width: fit-content;
    &:hover{
        color: var(--main-color);
        border-color: var(--main-color);
    }
}
.hero{
    background-color: white;
    padding: 30px 0px;
}
.hero-container{
    flex-direction: column;
}
.hero-container h2,p {
	text-align: center;
}
.hero-container .btn{
    background: black;
    color: white;
    transition: 0.5s ease;
    &:hover{
        background: transparent;
        color: black;
        transform: translateY(10px);
    }
}
.s-2{
    background-color: rgba(13, 19, 33, 0.02)s;
}
.content-box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.phrase{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    padding: 40px ;
    width: 100%;
    align-items: center;
    .content-box{
        gap: 20px;
        .btn{
            color: var(--main-color);
            border-color:var(--main-color) ;
            border-radius: 0;
            padding: 10px 20px;
            &:hover{
                transform: translateX(20px) ;
                background: black;
                color: white;
            }
            
        }
    }
    h3{
        font-size: 24px;
        line-height: 36px;
        color: var(--main-color);
    }
    img {
        width: 320px;
    }
}
.video-player{
    border-radius: 16px ;
    border: 1px solid rgba(13, 19, 33, 0.2);
    padding: 40px;
    iframe {
        width: 1080px;
        height: 550px;
        border-radius: 16px;
        border: 1px solid var(--main-color);
    }
}
.card-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}
.card{
    padding: 40px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: 0.5s ease;
    &:hover{
        transform: scale(1.1);
    }
    img {
        width: 56px;
        height: auto;
    }
    h4{
        font-size: 24px;
    }
    a{
        color: var(--text-color);
        font-size: 16px;
        font-weight: 600;
        &:hover{
            color: var(--main-color);
        }
    }
}
.card-grid-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .card{
        gap: 30px;
        flex-direction: row;
        align-items: center;
        border: 1px solid rgba(13, 19, 33, 0.15);
        img{
            width: auto;
            height: auto;
            align-self: flex-start;
        }
    }
}
/* Responsive Designs */
@media (max-width: 1200px){
    br{
        display: none !important;
    }
}
@media (max-width: 768px){
    .phrase{
        flex-direction: column;
    }
    
}
@media (max-width:1080px){
    .card-grid{
        grid-template-columns: auto;
    }
    .card-grid-2 .card {
        flex-direction: row;
    }
}